@media screen and (max-width: 700px) {
    .laptop {
        display: none;
    }

    .mobile {
        display: unset;
    }

    .pageBox {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 10vw;
        line-height: 11vw;
    }

    h3 {
        font-size: 8vw;
        line-height: 9vw;
    }

    h4 {
        font-size: 8vw;
    }

    h5 {
        font-size: 7vw;
        line-height: 7.5vw;
        margin-bottom: 0.5vw;
    }

    h6 {
        font-size: 6vw;
    }

    header .pageBanner {
        height: 40vh;
    }

    header .line01 {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    header h1 {
        font-size: 19pt;
    }

    .overlay a {
        padding: 8px;
    }

    footer {
        font-size: 6pt;
    }

    iframe {
        padding: 0;
        width: 100%;
        height: 200px;
    }

    iframe.map {
        width: 100%;
        height: 50vh;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .imageGallery {
        padding-bottom: 20px;
    }

    .imageGallery a {
        width: 50%;
        font-size: 9pt;
    }

    .row div {
        width: 100%;
    }

    .disruptionBox {
        width: 100%;
    }
}